:root[b-u2yv1qpd9n] {
    --officialBgColor: lightslategray;
    --cardsBgColor: #1b1c25;
}

[b-u2yv1qpd9n]::-webkit-scrollbar{
    width: 0px;
}
body[b-u2yv1qpd9n] {
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    color: azure;
    background-color: #EBFFFB;
    user-select: none;
    overflow: auto;
    overflow-y: hidden;
}

.cardsView[b-u2yv1qpd9n] {
    display: grid;
    scroll-snap-type: x mandatory;
    /*    grid-template-columns: repeat(3, auto);*/
    /*    grid-auto-columns: auto auto auto;*/
    grid-auto-flow: column;
    grid-template-rows: repeat(4, auto);
    height: 100vh;
    overflow-x: scroll;
    width: auto;
}
.item-note[b-u2yv1qpd9n] {
    font-size: 0.75em;
    color: hsl(207, 100%, 67%);
    text-anchor: middle;
}
.orderAdditionalInfo[b-u2yv1qpd9n] {
    font-size: 1.3em;
    color: hsl(207, 100%, 67%);
    text-anchor: middle;
}
.orderCard[b-u2yv1qpd9n] {
    /*    position: relative;*/
    scroll-snap-align: center;
    background-color: #032535;
    /*    user-select: none;*/
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 11px 11px 20px 20px;
    width: 27vw;
    align-self: stretch;
    margin: 15px;
    overflow-y: scroll;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}

.orderCardHeader[b-u2yv1qpd9n] {
    background-color: white;
    position: relative;
    color: black;
    font-size: 2.5vw;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 9px 9px 0px 0px;
    align-items: center;
    margin-bottom: 20px;
}

.orderType[b-u2yv1qpd9n] {
    display: flow;
    padding: 0px 0px 1px 10px;
}

    .orderType img[b-u2yv1qpd9n] {
        /*    opacity: 0.5;*/
        /*    margin: 0px 5px 1px 5px;*/
        /*    position: absolute;
    left: 60%;*/
        width: 3.5vw;
        height: auto;
    }

.orderCardDetials[b-u2yv1qpd9n] {
    /*    align-content: start;
    justify-content: start;*/
    list-style-type: none;
    padding-left: 15px;
    text-align: start;
    list-style-position: inside;
    /*    list*/
    /*    margin: 10px;*/
    /*    list-style: url('https://tathkarastorageaccount.blob.core.windows.net/service-providers-logos/الشعار مفرغ.png');*/
}

    .orderCardDetials ul[b-u2yv1qpd9n] {
        padding-left: 3vw;
        list-style-position: outside;
        /*    margin-left: 20px;*/
    }

.orderCardDetials ul li[b-u2yv1qpd9n] {
    color: white;
    font-size: 0.7em;
}

.orderDetail[b-u2yv1qpd9n] {
    color: #F5F5F5;
    /*    margin-right: 1px;*/
    /*    direction: rtl;*/
    font-size: 2vw;
    margin: 10px 0;
}

.orderReference[b-u2yv1qpd9n] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3vw;
    min-width: 50px;
    max-width: 150px;
    /*    padding-left: 5px;*/
    /*    border-radius: 0px 0px -10px 0px;*/
    padding-right: 10px;
    padding-left: 10px;
}
.orderReference *[b-u2yv1qpd9n] {
    margin: 0px;
}

.orderDateTime[b-u2yv1qpd9n] {
    position: absolute;
    font-size: 1.5vw;
    right: 1px;
    top: 0px;
}

.orderCreationTimeStamp[b-u2yv1qpd9n] {
    position: absolute;
    font-size: 2vw;
    right: 1px;
}

button[b-u2yv1qpd9n] {
    background-color: transparent;
    color: white;
    border-width: 0px;
}

button:focus[b-u2yv1qpd9n] {
    display: block;
    /*    display: flex;*/
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
}

.selectedText[b-u2yv1qpd9n] {
    color: white;
}

.unselectedText[b-u2yv1qpd9n] {
    color: black;
}


.button[b-u2yv1qpd9n] {
}

    .button:focus[b-u2yv1qpd9n] {
    }

    .button:hover[b-u2yv1qpd9n] {
    }

    .button:active[b-u2yv1qpd9n] {
    }

    .button:last-child[b-u2yv1qpd9n] {
    }

    .button:first-child[b-u2yv1qpd9n] {
    }

#normalOrderDetail[b-u2yv1qpd9n] {
/*    background-color: black;*/
    color: rgba(255, 255, 255, 1);
    /*        background-color: black;*/
}
#readyOrderDetail[b-u2yv1qpd9n] {
    color: rgba(255, 255, 255, 0.5);
}
#addedOrderDetail[b-u2yv1qpd9n] {
    color: hsl(60, 100%, 67%);
}
#removedOrderDetail[b-u2yv1qpd9n] {
    text-decoration: line-through;
    text-decoration-color: #EBFFFB;
    text-decoration-thickness: auto;
}
@media screen and (max-width: 1300px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
    .orderCardHeader[b-u2yv1qpd9n] {
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 800px) {
    .orderCardHeader[b-u2yv1qpd9n] {
        font-size: 1.5vw;
    }
    .orderReference[b-u2yv1qpd9n] {
        padding: 0px;
        min-width: 25px;
    }
}