.serviceProviderNotFoundWindow[b-9kt3yvha3n] {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    opacity: 0.8;
    align-items: center;
    background-color: black;
/*    filter: blur(8px);*/
    justify-content: center;
}
.serviceProviderNotFoundWindow div[b-9kt3yvha3n] {
}
.cautionLabel[b-9kt3yvha3n] {
    text-align: justify-all;
    text-justify: inter-word;
}
