<div class="InvalidConnectionIdWindow">
    <img src="NotFound.png" style="width: 20%; height: auto; margin-bottom: 50px;" />
    <h1 class="cautionLabel">
        Connection Id is invalid
        <br />
        please use a different id other than @id
    </h1>
</div>
@code {
    [Parameter]
    public int id { get; set; }
}