<div class="serviceProviderNotFoundWindow">
    <img src="NotFound.png" style="width: 20%; height: auto; margin-bottom: 50px;"/>
    <h1 class="cautionLabel">
        Client id not registerd 
        <br/>
        please contact ZUSE support at +966112065199
    </h1>
</div>
@code {

}

