.summaryView {
    display: block;
    text-align: left;
    /*    grid-template-columns: repeat(3, auto);*/
    /*    grid-auto-columns: auto auto auto;*/
    height: 100vh;
    overflow-x: scroll;
    width: 300px;
    background-color: #61234E;
    position: fixed;
    right: 0px;
    box-shadow: 50px 50px 50px 50px rgba(0,0,0,0.6);
    padding-left: 10px;
    padding-top: 50px;
}
.summaryView ul {
    list-style-position: outside;
}

.summaryGroup {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-left: 30px;
    align-items: center;
}
.summaryGroupContent {
    display: flex;
    flex-direction: column;
    border-left: 2px solid #d3d3d3;
}
.summaryGroup .summaryGroupContent {
    margin-top: 10px;
    margin-bottom: 5px;
}

.singleSummary {
    color: white;
    font-size: x-large;
    margin: 10px;
}
