<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/11e157f1-4c25-4c84-80de-478a38e6ffd6/resourceGroups/ZUSE-client_group/providers/Microsoft.Web/sites/ZUSE-client</ResourceId>
    <ResourceGroup>ZUSE-client_group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://zuse-client.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://zuse-client.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$ZUSE-client</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>